<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Point_of_Sale_System.My.MySettings.salesInfoConnectionString"
            connectionString="Data Source=DESKTOP-808QF8L\SQLEXPRESS;Initial Catalog=salesInfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>